/*   ------------Our feature ------------- */

.section__features {
    @media screen and (min-width: 1200px) {
    padding-bottom: 0;
}
}
.features {

    @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    }
}
/* feature  card*/
.feature__card {
    margin-bottom: 30px;
@media screen and (min-width: 480px){
width: 450px;
margin-left: auto;
margin-right: auto;
}
@media screen and (min-width: 768px)   {
    margin: 15px;
    width: calc((100% - 2 * var(--space-card)) / 2);
    }

 @media screen and (min-width: 1200px) {
    width: calc((100% - (4*var(--space-card))) / 4);
    }

}

.feature__card-wrapper {
    @include aligm( flex,center ,center );
    height: 120px;

    margin-bottom: 30px;

    border-radius: 4px;
    background-color: var(--bg-feature-color);
}

.feature__card-heading {
    
    @include font-bold(14px, 16px, 0.03em);

    text-transform: uppercase;
    color: var(--feature-list-h);
    
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 768px){
        text-align: center;
    }
}

.feature__card-description {
    @include font-normal(14px, 24px, 0.03em);
    color: var(--feature-dsk);
    
    margin: 0px;
}
