.hero-section {


padding: 20px;
text-align: center;

background-color: #AFB1B8;
background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ;

@media screen and (min-width: 1200px) {
padding-top: 150px;
padding-bottom: 150px;
}
}

.hero-section__heading {

font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 1.62;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
    
color: var(--h-hero-color);


margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

@media screen and(min-width: 480px){
width: 360px;
}

@media screen and(min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
}
}

.hero-section__button {
@extend %button;

padding-top: 10px;
padding-bottom: 10px;
padding-left: 24px;
padding-right: 24px;
@media screen and(min-width: 1200px) {
padding-left: 32px;
    padding-right: 32px;
}
}
.counter{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }

    & .add{
    border-radius: 45px;
        margin: 0;
        margin-right: 15px;
        color: #ffffff;
        background: rgba(71, 132, 229, 0.764);
        &:hover {
        background-color: rgb(52, 78, 130);
        }
    }
        & .reset{
    margin: 0;
    border-radius: 25px;
    background: rgb(137, 12, 141);
    color: #61ea7a;
        &:hover {
    color: #ffffff;
        background-color: rgb(187, 34, 129);
        }
    }

    &__input{
        font-size: 17px;
        color: #ffffff;
        background-color: rgba(236, 198, 198, 0.4);
        padding-left: 40px;
height: 50px;
border: none;
outline: none;
border-radius: 25px;
margin-right: auto;
margin-left: auto;
    }
}
.output{
    display: inline-block;
   
    padding: 23px;
    
    width: auto;
    background-color: #61ea7a;
}