.social-links-list {
    display: flex;
    margin-top: 16px;
    .footer-social>& {
    margin-top: 0;
    }
        
}

.social-links-list__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.social-links-list__link {
    @include aligm(flex, center, center);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--link-active);
        fill: #fff;
    }
}

.social-links-list__icon {
    
    fill: inherit;
    .footer-social & {
        fill: #FFFFFF;
    }
}

// ===Footer=== //


.social-links-list__item--footer {


    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        background-color: var(--link-active);
    }
}