html,
body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-body-color);
    background-size: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}




