.section {
   height: 100vh;
    
    display: flex;

        align-items: center;
        justify-content: center;
    
   
    
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}

 }

